<footer class="site-footer">

  <div class="wrapper">

    <!--<h2 class="footer-heading">{{ site.title | escape }}</h2>-->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">

        <!-- Begin MailChimp Signup Form -->
        <div class="mailing-list-signup">
          <form action="//dual-wielding.us16.list-manage.com/subscribe/post?u=168fc6414e7059af9abc589f5&amp;id=4f4e35a377" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                    <div class="mc-subscribe-text">
                                            <label for="mce-EMAIL">{{ site.data.misc.subscribe_text }}</label>
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_168fc6414e7059af9abc589f5_4f4e35a377" tabindex="-1" value=""></div>
                                    <div class="clear"><input type="submit" value="{{ site.data.misc.subscribe_button_text }}" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                    </div>
                    </form>
            </div>
				<!--End mc_embed_signup-->

        <ul class="contact-list">
					{% if site.email %}
						<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
					{% endif %}
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
					</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li class="center">
            <a href="https://github.com/{{ site.github_username  }}">
              <img class="social-media-icon" src="/assets/images/gh.png"></img>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li class="center">
            <a href="https://twitter.com/{{ site.twitter_username  }}">
              <img class="social-media-icon" src="/assets/images/tw.png"></img>
            </a>
          </li>
          {% endif %}
          
          {% if site.facebook_username %}
          <li class="center">
            <a href="https://www.facebook.com/{{ site.facebook_username  }}">
              <img class="social-media-icon" src="/assets/images/fb.png"></img>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.data.misc.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>

